/* -------- | css styling imported from other files. | -------------- */
@import url("./components.css/button.css");
@import url("./components.css/modal.css");
@import url("./components.css/navigation-bar.css");
@import url("./components.css/note.css");

/* ------------- | global styling | ------------- */
body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.bg-orange1{
    background-color:#FCD59A ;
}
.home-page{
    background-color: #FFFBDA;
}
.bg-orange2{
    background-color:#FFEEA9;
}

  *{
    font-family: "Pixelify Sans", sans-serif;

  }
.crud-function {
    padding: 10px;
}
.mid {
  display: flex;
  margin: auto;
}
